.badge {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
 
  #lblCartCount {
      font-size: 20px;
      background: #ff0000;
      color: #fff;
      /* padding: 0 5px; */
      vertical-align: top;
      margin-left: -10px; 
      border-radius: 50%;
      height: 10;
      width: 10;
  }